<ion-header>
  <ion-toolbar>
    <ion-title>showUser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button (click)="on()">点击</ion-button>

  <ion-list >
    <ion-item *ngFor="let user of userList">

      <ion-label>
        <ion-text>
          <h2>编号：{{user.userId}}   姓名：{{user.userName}}  年龄：{{user.userAge}}</h2>
        </ion-text>
        <!--<ion-text>-->
          <!--<p style="color: #ff7950"><ion-icon name="logo-yen"></ion-icon>{{product.price}}&nbsp;&nbsp;&nbsp;&nbsp;-->
            <!--<span margin-start="">库存：{{product.inventory}}</span></p>-->
        <!--</ion-text>-->
        <!--<ion-text>-->
          <!--<span>条码：{{product.barcode}}</span>-->
        <!--</ion-text>-->
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
